/* CSS Document */
.form {
  background-color:#fafafa;
  padding:15px;
  margin:-10px;
	box-shadow: 0 0 10px #888888;
	border-radius: 5px;
}

.modals
{
    z-index: 333;
    background-color: rgba(0,0,0,0.4);
    background-attachment: scroll;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modals img {
	z-index:-1;
	-webkit-transition: all 0.5s; transition: all 0.5s;
	width:100%;
	height:100%;
}

.modals div.pos
{
	z-index:444;
    background-color:#fff;
    width: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
}

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* test sidebar theme */
.sidebar-nav-primary {
    position: absolute;
    top: 0;
    width: 210px;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
}

.sidebar-nav-primary li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav-primary li a {
    display: block;
    text-decoration: none;
  color: #B3D1EA;
}

.sidebar-nav-primary li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
}

.sidebar-nav-primary > .active > a,
.sidebar-nav-primary > .active > a:hover,
.sidebar-nav-primary > .active > a:focus {
	text-decoration: none;
	color: #fff;
  background-color: #3276b1;
}

.sidebar-nav-primary > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav-primary > .sidebar-brand a {
  color: #B3D1EA;
}

.sidebar-nav-primary > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.blockquote-box{border-left:15px solid #E6E6E6; border-radius:5px; margin-bottom:10px; background-color:#f0f0f0;}
.blockquote-box p { margin:5px; }
.blockquote-box .square{width:100px;min-height:50px;margin-right:22px;text-align:center!important;background-color:#E6E6E6;padding:20px 0}
.blockquote-box.blockquote-primary{border-left-color:#357EBD;}
.blockquote-box.blockquote-primary .square{background-color:#428BCA;color:#FFF}
.blockquote-box.blockquote-success{border-left-color:#4CAE4C}
.blockquote-box.blockquote-success .square{background-color:#5CB85C;color:#FFF}
.blockquote-box.blockquote-info{border-left-color:#46B8DA}
.blockquote-box.blockquote-info .square{background-color:#5BC0DE;color:#FFF}
.blockquote-box.blockquote-warning{border-left-color:#EEA236}
.blockquote-box.blockquote-warning .square{background-color:#F0AD4E;color:#FFF}
.blockquote-box.blockquote-danger{border-left-color:#D43F3A}
.blockquote-box.blockquote-danger .square{background-color:#D9534F;color:#FFF}

.divider-vertical{height: 43px;margin: 3px 9px;border-left: 1px solid #111111;border-right: 1px solid #222222;}

.popup::after {
  content: "";
  background: url(../images/sd.jpg) no-repeat;
  background-size:  100% 100%;
  -webkit-filter: brightness(0.6); /* blur(1px)*/
  filter: brightness(0.6);
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
  
.form-login {
  background-color:rgba(0, 0, 0, 0.6);
  padding:10px;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
 
}

#imagePreview {
    width: 180px;
    height: 180px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}

/* tooltip arrow */
  .ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 4px 8px;
    color: white;
    border-radius: 20px;
    font: bold 10px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 35px;
    height: 8px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -17px;
    bottom: -8px;
  }
  .arrow.top {
    top: -8px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 10px;
    top: -10px;
    width: 15px;
    height: 15px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -10px;
    top: auto;
  }
  
.header-badge {
  display: inline-block;
  min-width: 10px;
  padding: 6px;
  font-size: 70%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #d9534f;
  border-radius: 4px;
  line-height: 12px; padding: 2px 5px; position: absolute; right: 2px; top: 5px;
}

.tab-box .panel-heading > .nav-tabs {
    float: right;
    margin-top: -2px;
    display: inline-block;
    border-bottom: 0;
}
.tab-box .panel-heading > .nav-tabs > li > a {
    border: 0;
    padding: 6px 7px;
}
@media (min-width: 444px) {
    .tab-box .panel-heading > .nav-tabs > li > a {
        padding: 6px 15px;
    }
}
.tab-box .panel-heading > .nav-tabs > li.active > a {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 0;
    border-top: 1px solid #7c1c1d;
    background: #fff;
}
.panel.panel-default > .panel-heading h3 {
    display: inline-block;
}
svg {
    width: 100% !important;
}

/* ---------------------------------------- Event List CSS ---------------------------------------- */
    @import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
    @import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
    .event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: rgb(197, 44, 102);
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(165, 82, 167);
	}
	.event-list > li > time > span {
		display: none;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 56pt;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > li time > .month {
		display: block;
		font-size: 24pt;
		font-weight: 900;
		line-height: 1;
	}
	.event-list > li > img {
		width: 100%;
	}
	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 13pt;
		font-weight: 300;
		margin: 0px;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}
	.twitter a {
		color: rgb(79, 213, 248) !important;
	}
	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}
	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}
	.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
	}

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			height: 120px;
			text-align: left;
			padding-right: 40px;
		}	
		.event-list > li > .info > .title, 
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		.event-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {			
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
	}
/* ---------------------------------------- Event List CSS end ---------------------------------------- */

